<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="injectionMap" type="InjectionMap.Configuration.InjectionMapSection, InjectionMap.Configuration" />
  </configSections>

  <injectionMap>
    <mappings>
      <map contract="InjectionMap.Configuration.Test.ObjectTypeOne, InjectionMap.Configuration.Test" toSelf="true"/>
      <map contract="InjectionMap.Configuration.Test.Data.IContractOne, InjectionMap.Configuration.Test.Data" mappedType="InjectionMap.Configuration.Test.ObjectTypeOne, InjectionMap.Configuration.Test"/>
      <map contract="InjectionMap.Configuration.Test.Data.IContractTwo, InjectionMap.Configuration.Test.Data" mappedType="InjectionMap.Configuration.Test.Data.ObjectTypeTwo, InjectionMap.Configuration.Test.Data"/>
    </mappings>
  </injectionMap>

</configuration>