<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="injectionMap" type="InjectionMap.Configuration.InjectionMapSection, InjectionMap.Configuration" />
  </configSections>

  <injectionMap>
    <mappings>
      <add map="InjectionMap.Configuration.Test.Data.IKeyOne, InjectionMap.Configuration.Test.Data" for="InjectionMap.Configuration.Test.ObjectTypeOne"/>
      <add map="InjectionMap.Configuration.Test.Data.IKeyTwo, InjectionMap.Configuration.Test.Data" for="InjectionMap.Configuration.Test.ObjectTypeTwo, InjectionMap.Configuration.Test.Data"/>
    </mappings>
  </injectionMap>

</configuration>