<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="injectionMap" type="InjectionMap.Configuration.InjectionMapSection, InjectionMap.Configuration" />
  </configSections>

  <injectionMap>
    <mappings>
      <map key="InjectionMap.Configuration.Test.Data.IKeyTwo, InjectionMap.Configuration.Test.Data" for="InjectionMap.Configuration.Test.Data.ObjectTypeTwo, InjectionMap.Configuration.Test.Data"/>
    </mappings>
    <initializers>
      <init type="InjectionMap.Configuration.Test.Data.InjectionMapInitializer, InjectionMap.Configuration.Test.Data"/>
    </initializers>
  </injectionMap>

</configuration>