<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="injectionMap" type="InjectionMap.Configuration.InjectionMapSection, InjectionMap.Configuration" />
  </configSections>

  <injectionMap>
    <mappings>
      <map key="InjectionMap.Configuration.Test.Data.IKeyOne, InjectionMap.Configuration.Test.Data" for="InjectionMap.Configuration.FailTest.ObjectTypeOne"/>
    </mappings>
  </injectionMap>
  
</configuration>